$pallete: (
  white: #fff,
  black: #1F2D3D,
  gray: #6B778C,
  red-light: #FF999D,
);
$fonts: (
  roboto: ("Roboto", sans-serif),
  source: ("Source Sans Pro", sans-serif),
);
$fontSizes: 8, 10, 12, 14, 16, 18, 20, 24, 26, 28, 36, 38, 46, 51, 62;